.cloud {
  transform: scale(1.8);
  line-height: 0 !important;
}
.cloud:hover {
  transform: scale(2); /* Увеличиваем фотографию */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  z-index: 50;
}

.alternate img {
  -webkit-animation: shake .7s linear alternate infinite;
  animation: shake .7s linear alternate infinite;
}
.alternate_reverse img {
  -webkit-animation: shake 0.7s linear alternate-reverse infinite;
  animation: shake 0.7s linear alternate-reverse infinite;
}

@-webkit-keyframes shake {
  100% {
    -webkit-transform: translateX(-30px);    
  }
}
@keyframes shake {
  100% {
    transform: translateX(-30px);    
  }
}